// This module contains default styling for <code>, <blockquote>, and <pre> (codeblock) elements.
%blockdisplay {
  margin: 2em;
  position: relative;
  cite, i {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
    &:before {
      content: "- ";
    }
  }
}

%blockquote {
  @extend %blockdisplay;
  z-index: 0;
  &:before {
    content: "\201C";
    color: darken($main-bg, 10%);
    font-size: 100px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    position: absolute;
      top: -40px;
      left: -20px;
    z-index: -1;
  }
}

%codeblock {
  @extend %blockdisplay;
  code {
    padding: 0;
    border: 0;
    background: transparent;
  }
}

%code {
  padding: 2px 4px;
  border: thin solid darken($main-bg, 30%);
  border-radius: 3px;
  background-color: darken($main-bg, 5%);
  &[data-codelang]:before {
    width: 110px;
    height: 20px;
    border: thin solid darken($main-bg, 30%);
    border-radius: 3px;
    border-bottom: none;
    content: attr(data-codelang);
    font-weight: bold;
    text-align: center;
    position: absolute;
      top: -20px; // -20 for height, -1 for the border
      right: 1em;
  }
}