$bp-narrow-desktop: 1209px !default;
$bp-tablet: 767px !default;
$bp-mobile-phone: 479px !default;

@mixin respond-to($what) {
  $what: quote($what);
  // What should be either "narrow", "tablet"
  @if $what == "narrow" {
    @media only screen and (max-width: $bp-narrow-desktop) {
      @content;
    }
  } @else if $what == "tablet" {
    @media only screen and (max-width: $bp-tablet) {
      @content;
    }
  } @else if $what == "phone" {
    @media only screen and (max-width: $bp-mobile-phone) {
      @content;
    }
  } @else {
    $what: unquote($what);
    @media only screen and ($what) {
      @content;
    }
  }
}
