/*------------------------------------*\
    $STYLE CONTENTS
\*------------------------------------*/

/*
 * STYLE CONTENTS ............. this
 * EXPLANATION AND VARIABLES .. explains element v layout v module v state
 * BASE STYLES ................ styles applied to top-level elements
 * LAYOUTS .................... styles to generate high-level layouts
 * MODULES & STATES ........... complete "chunks" of formatting to drop into layouts and their states
 */





/*------------------------------------*\
    $EXPLANATION AND VARIABLES
\*------------------------------------*/

/*
 * Style guide:
 *  2 spaces indentation
 *  single-line CSS only for single-property declarations, with spaces before and after braces
 *  sort attributes: box > border > background > text > other
 *
 * An element is a direct element you're acting on. (e.g., h1, body, html)
 *
 * A layout is the 'shelf' a module goes in.  Layouts should
 * contain positioning information & width definitions, but
 * should be content-agnostic.  Layouts are prefixed by 'l-'
 *
 * A module styles the element.  Modules should not define widths
 * or positioning.  They should be completely portable.  Dropping a module
 * into any layout item should produce a good effect, within reason.
 * Modules are unprefixed.
 *
 * A state is something temporary, like a hover or JS interaction.  A state
 * is suffixed by '--state'.  A state should be kept with its respective module
 *
 * For media queries, use @include respond-to('device')
 * Media queries should be primarily directed at LAYOUTS
 */

$main-fg: #222;
$main-bg: white;





/*------------------------------------*\
    $BASE STYLES
\*------------------------------------*/
// Body
html,
body {
  background-color: $main-bg;
  color: $main-fg;
  font-size: 14px;
  line-height: 1.43; // ~20px
}

// Headings
h1, h2, h3, h4, h5, h6 {
  margin: 0.7em 0;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.85em;
}
h6 {
  font-size: 0.7em;
}

// Text
p {
  margin: 0;
  margin-bottom: 0.65em;
}

small {
  font-size: 0.7em;
}

// Common block modules with lousy default styles
nav {
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

dl {}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 0.65em;
}

// From blockdisplay module
blockquote { @extend %blockquote; }
pre { @extend %code, %codeblock; }
code { @extend %code; }
// End blockdisplay module





/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/
//  .l-classname {}





/*------------------------------------*\
    $MODULES & STATES
\*------------------------------------*/
//  .classname {}
//  .classname--state-modifier {}

@import "blockdisplay";




